body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.titulo_create_newUser{
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 2rem;
}
.titulo_create_newUser .titulo{
  font-weight: bolder;
  font-size: 3rem;
}

.parametros_create_newUser{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  width: 100%;

  
}
.input_create_newUser{
  width: 40%;
  margin: auto;
  margin-bottom: 1rem;
  padding: 1rem;
  transition: all 0.1s ease-out;
}
.input_create_newUser:focus,
.input_create_newUser:hover{
  transform: scale(1.01);
  border: 1px solid black;
}

.link_crearCuenta{
  margin: auto;
  position: relative;
  display:block;
  margin-bottom: 1rem;
  padding-bottom: 5px;
  text-decoration: none;
  color: black;
}
.link_crearCuenta::after{
  content : " ";
  position : absolute;
  width : 100%;
  height : 2px;
  margin-top: 200px;
  background-color: black;
  bottom: 0;
  left: 0;
}
.link_crearCuenta:hover::after,
.link_crearCuenta:focus::after{
  height : 4px;
  cursor: pointer; 
}
.link_crearCuenta:hover,
.link_crearCuenta:focus{
  cursor: pointer; 
}

.parametros_create_newUser .boton{
  height: 2.8rem;
  width: 8rem;
  font-size: 1.2rem;
  margin: auto;
  background-color: cadetblue;
  border: none;
}

.boton:hover{
  cursor: pointer;
}

.titulo_login{
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 2rem;
}
.sorpresa{
  margin-left: 1rem;
  transition: all 0.5s ease-in;
}
.sorpresa:hover{
  transform: translate(5%);
  font-size: 3em;
  color: pink
}